 <div class="user-details">
  <h1> Sobre Nós </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Nossa Missão</h2>
       <p>- Inovar, criar e produzir soluções, promovendo a autonomia.</p>
       <p>- Promover o espírito de equipe e cooperação. </p>
       <p>- Motivar a aprendizagem.</p>
       <p>- Desenvolver competências interdisciplinares.</p>
       <p>- Cativar alunos para sua progressão no ensino.</p>
       <p>- Promover atividades de integração social na área de robótica.</p>
       <p>- Cativar potenciais estudantes para a inscrição nos programas do Instituto Infnet.</p>
      </ul>
     </div>
    <div class="tech">
      <h2>Quem Somos</h2>
      <img alt="logo of the club" width="200" height="200" src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" />
     <p>Infoboto é um clube de robótica da escola de tecnologia do Instituto Infnet, no centro do Rio de Janeiro e foi idealizado pelas alunas Yasmin
Farias e Raysa Dutra. </p>
      <p>- Fundadores:</p>
      <p>Yasmin Faria</p>
      <p><a href="https://hi-hi-ray.github.io/">Raysa Dutra</a></p>
      <p>- Presidente do Clube:</p>
      <p>Yasmin Faria</p>
     
    </div>
</div>
<div class="tech">
      <h2>Nosso Local</h2>
      <p>O <a href="https://www.infnet.edu.br/infnet">Instituto Infnet</a> se encontra na Rua São José, 90 no Centro do Rio de Janeiro</p>
    </div>
