 <div class="user-details">
  <h1> Sobre Nós </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Nossa Missão</h2>
      <p> - Inovar, criar e produzir soluções, promovendo a autonomia.</p>
      <p> - Promover o espírito de equipe e cooperação. </p>
      <p> - Motivar a aprendizagem.</p>
      <p> - Desenvolver competências interdisciplinares.</p>
      <p> -Cativar alunos para sua progressão no ensino.</p>
      <p> -Promover atividades de integração social na área de robótica.</p>
      <p> -Cativar potenciais estudantes para a inscrição nos programas de Instituto.</p>
    </div>
    <div class="tech">
      <h2>Quem Somos</h2>
      <p>Somos um grupo de estudantes da INFNET que estão dispostos a coordenar e administrar eventos pela nossa universidade.</p>
      <p>Fundadores:</p>
      <p>Yasmin Faria</p>
    </div>
    <div class="tech">
      <h2>Nosso Local</h2>
      <p>A infnet se encontra na Rua São José, 90 no Centro do Rio de Janeiro</p>
    </div>
</div>
