<div class="user-details">
  <h1> Fale Conosco</h1>
</div>
<div class="user-helpus">
  <div class="images-right">
    <img alt="people join university clubs" width="424" height="236" src="{{ "/assets/img/joinus.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Seja um membro</h3>
    <ul>
      <li> Faça parte do nosso clube</li>
    </ul>
    <p>Preencha o nosso <a href="#">formulário</a> para fazer parte do nosso clube. Antes de se inscrever, tenha certeza que você quer fazer parte do nosso clube.</p>
  </div>
</div>
<div class="user-helpus">
  <div class="images-left">
    <img alt="Arduino Board" width="424" height="236" src="{{ "/assets/img/helpus.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Seja um contribuidor</h3>
    <ul>
      <li> Você pode nos ajudar a ter um clube completo</li>
    </ul>
    <p>Caso você seja dono de alguma empresa e queira nos ajudar contribuindo com:</p>
    <p>- Doando peças queimadas para sucateamento</p>
    <p>- Doando placas arduinos, NodeCMU's, drones, soldas e etc...</p>
    <p>Mande-nos um e-mail: infoboto.clube@gmail.com, iremos separar uma parte no nosso site só para você contribuidor.</p>
  </div>
</div>

