body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    margin: 5%;
}

nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.apoio img {
    max-width:90%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    letter-spacing: 2px;
    font-size: 15px;
}

.header .container img .img-fluid {
    margin-top: 15%;
    width: 50%;
    height: 50%;
}

.back-dark {
    padding-bottom: 5%;
}

header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}

.header-icons.text-dark a {
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    transition: all .7s;
    width: 40px;
    font-size: 40px;
    margin: 5px;
    border: 2px solid #343a40;
    color: #343a40;
    text-decoration: none;
    background-color: transparent;
}

.header-icons.text-dark a:visited {
    color: #343a40;
    text-decoration: none;
}

.header-icons.text-dark a:hover {
    background-color: #343a40;
    color: #ffffff;
    text-decoration: none;
}

i.fa.fa-facebook {
    margin: 1.5%;
}

i.fa.fa-github-alt,
i.fa.fa-instagram,
i.fa-linkedin,
i.fa.fa-envelope-open-o {
    margin: 1%;
}

a.link-about {
    color: #ffffff;
    text-decoration: none;
}

a.link-about:hover {
    color: rgb(181, 216, 247);
    font-weight: bold;
    text-decoration: none;
}

#about#give-mespace {
    margin-top: 10%;
}

a.link-external {
    color: #343A40;
    text-decoration: none;
}

a.link-external-white {
    color: #ffffff;
    text-decoration: none;
}

a.link-about:hover {
    color: rgb(30, 30, 124);
    font-weight: bold;
    text-decoration: none;
}

section {
    margin-bottom: 5%;
    margin-top: 5%;
}

a.link-subscription {
    color: #ffffff;
    text-decoration: none;
}

a.link-subscription:hover {
    color: rgb(181, 216, 247);
    font-weight: bold;
    text-decoration: none;
}

section#member img {
    width: 100%;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

section#member p.lead.mb-0 {
    margin: 5%;
}

section#contributors img {
    width: 100%;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

section#contributors h2 {
    margin-top: 10%;
}

section#contributors {
    margin-top: 0;
}

section#about h3 {
    margin: 0;
}

section#contact.text-white a {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

section#contact.text-white a:visited {
    color: #ffffff;
    text-decoration: none;
}

section#contact.text-white a:hover {
    background-color: #ffffff;
    color: #343a40;
    text-decoration: none;
}

section#contact h2,
section#contact p.lead.mb-0 {
    margin: 5%;
}

.icons.text-white {
    margin-top: 5%;
    margin-bottom: 5%;
}

.header-icons.text-dark {
    margin-top: 5%;
    margin-bottom: 5%;
}

#logo-roboto {
    width: 30%;
}

.membros > small {
    display: block;
    padding: 1%;
    font-weight: 620;
}

#missao, #valores {
    margin-left: 5% !important;
    padding-top: 5%;
    padding-bottom: 2%;
}

@media (max-width: 600px) {
    #logo-roboto {
        width: 80%;
    }
}

@media (max-width: 300px) {
    #logo-roboto {
        width: 40%;
    }
}